html {
    height: 100%;
}

body {
    background-image: url(images/brickwall.png);
    display: grid;
    margin: 0;
    padding: 0;
    height: 100%;
    grid-template-columns: 200px [name-start] 1fr 4fr [name-end] 200px; 
    grid-template-rows: 100px [name-start] 1fr [name-end];
    grid-template-areas: 
                        ". h m ."
                        ". h m .";
}

header {
    grid-area: h;
    background-image: url(images/concrete_wall.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    grid-area: m;
    background-color: rgba(255, 255, 255, .4);
}

#text {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding: 50px;
    margin-top: 180px;
}

#name {
    grid-area: name;
    align-self: left;
    position: absolute;
    top: 50px;
    left: 220px;
}

#first_name, 
#last_name {
    font-family: 'Bungee Shade', cursive;
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: 0.7em;
    color: white;
    /* background-color: #d38435; */
    background: linear-gradient(to right, rgb(211, 132, 53), rgba(238, 156, 74, 0.7));
    -webkit-transform: rotate(-10deg);
    margin: 10px 0px;
    padding: 10px;
}

p {
    margin: 10px;
    padding: 10px;
}

ul {
    margin: 15px;
}

p, 
li {
    font-family: 'Port Lligat Slab', serif;
    word-spacing: 0.5em;
    line-height: 1.5em;
    font-size: 26px;
}

#avatar {
    border-radius: 100%;
    border: 1px solid #D5A021;
    position: relative;
    top: 300px;
    margin: 10px;
}

#social {
    position: relative;
    top: 500px;
}

#google:hover {
    background-color: #C63D2D;
    border-radius: 100%;
}

#linkedin:hover {
    background-color: #4875B4;
    border-radius: 100%;
}

#twitter:hover {
    background-color: #33CCFF;
    border-radius: 100%;
}

#github:hover {
    background-color: #000;
    border-radius: 100%;
}