html {
    height: 100%;
    /* background-color: #edeeed; */
}

body {
    display: grid;
    margin: 0;
    padding: 0;
    height: 100%;
    grid-template-columns: 200px [name-start] 1fr 2fr [name-end] 200px; 
    grid-template-rows: 100px [name-start] 1fr [name-end];
    grid-template-areas: 
                        ". h m ."
                        ". h m .";
}

header {
    grid-area: h;
    background-image: url(concrete_wall.png);
    box-shadow: -3px 0px 3px #333138;
}

main {
    box-shadow: 3px 0px 3px #CED0CE, -3px 0px 3px #CED0CE;
    grid-area: m;
    background-image: url(brickwall.png);
}

#text {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding: 50px;
    margin-top: 100px;
    text-indent: 3mm;
}

#name {
    grid-area: name;
    align-self: left;
    /* border: 3px solid white; */
    position: absolute;
    top: 50px;
    left: 220px;
}

#first_name, 
#last_name {
    font-family: 'Bungee Shade', cursive;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 1em;
    color: white;
    /* background-color: #d38435; */
    background: linear-gradient(to right, rgb(211, 132, 53), rgba(223, 145, 68, 0.9));
    -webkit-transform: rotate(-10deg);
    margin: 10px 0px;
    padding-left: 10px;
}

p {
    margin: 10px;
    padding: 10px;
}

ul {
    margin: 15px;
}

p, 
li {
    font-family: 'Port Lligat Slab', serif;
    word-spacing: 0.5em;
    line-height: 1.5em;
    font-size: 20px;
}

#avatar {
    border-radius: 100%;
    border: 1px solid #D5A021;
    position: relative;
    top: 300px;
    margin: 10px;
}

#social {
    position: relative;
    top: 500px;
}

#google:hover {
    background-color: #C63D2D;
}

#linkedin:hover {
    background-color: #4875B4;
}

#twitter:hover {
    background-color: #33CCFF;
}